/VSCode/VSCode-win32-x64-1.65.2/Code.exe
/VSCode/VSCode-win32-x64-1.65.2.zip
/VSCode/VSCode-win32-x64-1.65.2/data/user-data/User/workspaceStorage/24899f4c954ff7ccababe4a12bee7698/ms-vscode.cpptools/.BROWSE.VC.DB
/VSCode/VSCode-win32-x64-1.65.2/data/extensions/ms-vscode-remote.remote-containers-0.224.3/
/VSCode/VSCode-win32-x64-1.65.2/data/extensions/ms-vscode-remote.remote-ssh-0.76.1/
/VSCode/VSCode-win32-x64-1.65.2/data/extensions/ms-vscode-remote.remote-ssh-edit-0.76.1/
/VSCode/VSCode-win32-x64-1.65.2/data/extensions/ms-vscode-remote.remote-wsl-0.64.2/
